<header class="header header--white">
    <div class="container">
        <div class="logo">
            <a class="logo_img" href="index.html">
                <img src="img/logo.svg" alt="Logo">
            </a>
            <div class="logo_text">
                <h1>КВАРТИРЫ ОТ ЗАСТРОЙЩИКА<br>В НОВОМ ЖИЛОМ МИКРОРАЙОНЕ<br>ГОРОДА СУРГУТА</h1>
            </div>
        </div>
        <nav class="header_menu">
            <ul class="menu">
                <li><a href="news.html">О проекте</a>
                </li>
                <li><a href="apartments.html">Квартиры</a>
                </li>
                <li><a href="#">Инфраструктура</a>
                </li>
                <li><a href="banks_partners.html">Покупателям</a>
                </li>
                <li><a href="#">Контакты</a>
                </li>
            </ul>            
        </nav>
        <div class="header_phone">
            <a class="phone" href="tel: 73462385373">+7 (3462) <span>38-53-73</span></a>
        </div>
    </div>
</header>